.Rproj.user
.Rhistory
.RData
.Ruserdata

.idea/

.ipynb_checkpoints

bookreviews/venv/
bookreviews/pagedownloads/
bookreviews/pagedownloads2/
bookreviews/reviewdownloads/
bookreviews/reviewdownloads2/
bookreviews/resul*

*.Rproj


bookreviews/resultdata.csv

dictionaries/Feinstein/
*/__MACOSX/

sagelist.txt

tokens/evanston311.csv
tokens/spacy_example.ipynb

pdfs/dhhs/